.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #097b3e;
    border-radius: 5px;
}

.heading {
    font-size: 28px;
    font-weight: bold;
    color: #094f1a;
    margin-bottom: 20px;
    text-align: center;
}